body {
    background-color:azure
}

.item-detail-padre {
    background-color: rgb(158, 83, 83);    
    margin-left: 25px;
    padding-left: 5%;
}

.products-container{
    
    background: linear-gradient(0deg, rgba(34,193,195,0.38139005602240894) 0%, rgba(45,189,253,0.22172619047619047) 100%);
    float: left;
    width: 30%;
    justify-content: space-between;
    justify-items: center;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    border: 0 5px 15px rgba(0, 0, 0, 0.06);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    border-radius: 3rem;
}

.item-img-container #prod-img{
    width: 100%;
    height: 400px;
     
}

.details-container #caja-1, #caja-2, #caja-3, #caja-4 {
    font-size: 15px;
    padding-top: 20px;
    padding-left: 23%;
    color: black;
    align-items: center;
    text-align: center;
    word-wrap: break-all;
    
}

.details-container {  
    width: 400px;
    height: 350px;  
    
}

#button-container, #detail-button{
    justify-items: flex-end;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.details-container #item-button{
    border-radius: 3rem;
    background: azure;
    text-decoration: none;
    color: black;
    margin: 20px;
    margin-left: 200px;
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    border: none;
}

#item-button:hover{
    cursor: pointer;
    background: lightseagreen;
    color: white;
}

#detail-button{
    border-radius: 2rem;
    background: azure;
    text-decoration: none;
    color: black;
    height: 30px;
    width: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

#detail-button:hover{
    cursor: pointer;
    background: lightseagreen;
}

#add-button{
    border-radius: 2rem;
    background: azure;
    text-decoration: none;
    color: black;
    height: 30px;
    width: 80px;
    margin-top: 20px;
    margin-left: 20px;
}

#add-button:hover{
    cursor: pointer;
    background: lightseagreen;
}

#products-cart{
    margin-top: 20px;
    margin-left: 100px;
    text-align: center;
}