#header {
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 90px;
    background: rgba(28,124,194,255);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    
}

#logo-img {
    border: none;
    width: 165px;
    height: 130px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar .link-li {
    list-style: none;
    padding: 0 20px;
    
}

#navbar .link-li {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: beige;
    transition: 0.03s ease;
}

#navbar .link-li:hover {
    color: #bca837;
}

#cartWidget-icon{
    color: white;
}

#cartWidget-icon:hover{
    color: #bca837;
}