.section-p1{
    width: 100%;
    margin-top: auto;
    bottom: 0;
}

footer {   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    background: linear-gradient(0deg, rgba(34,193,195,0.38139005602240894) 0%, rgba(45,189,253,0.22172619047619047) 100%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);  
}

footer .col{
    padding-top: 20px;
    display: flex;
    
    padding-left: 10rem;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-right: 20px; 
}


footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    color: #222;
    text-decoration: none;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 6px;
    cursor: pointer;
}

footer .follow i:hover{
    color: white;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

#btn-envios:hover{
    color: white;
    cursor: pointer;
}